<% include partials/header %>
<div class="container">
    <h1><%=camp[0].name %></h1>
    <p align="center"></p><img src ="<%= camp[0].image %>"></p>
    <p><%=camp[0].description %></p>
</div>

<% include partials/footer %>